<template>
    <div class="attribute-create-grid-element element_row">
        <div class="labeled_input">
            <label for="attribute"> Attributsname: </label>
            <input type="text" name="attributes[]" id="attribute">
        </div>
        <div class="labeled_input">
            <label for="attribute_type"> Attributstyp: </label>
            <select name="attribute_types[]" id="attribute_type">
                <option>Anzahl</option>
                <option>Checkbox</option>
            </select>
        </div>
    </div>
</template>